body {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}